@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*////////////////////////
    Table of Contents
    1. Global styles
    2. Typography
    3. Layout
        3.1 Re-usable
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global styles -------------------------------- */

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-chryslerblue:   #5722CD;
    --color-majorelleblue:  #4B49E8;
    --color-frenchrose:     #ED4385;
    --color-night:          #0C0C0C; /* normal text */
    --color-magnolia:       #F2F0FF; /* floating words */
    --color-lightgray:      #F3F6F9; /* background projects */
    --color-normalgray:     #7A7A7A; /* service tile's */
}

/* ------------------------------- 2. Typography ----------------------------------- */


h1, h2, h3, h4, h5, h6 {
    font-family: 'merriweather', serif;
    text-align: center;
}

p, a {
   font-family: 'roboto', sans-serif;
    font-weight: normal;
    text-decoration-line: none ;
}

h1{
    font-size: 2em;
}

/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Re-usable ----------------------- */
.outer-container{
    display: flex;
    justify-content: center;
    border: greenyellow dashed 2px;
}

.inner-container{
    flex-basis: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 16px;
    border: orangered dashed 2px;
}

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */

header{
    background-image: linear-gradient(135deg, var(--color-majorelleblue) 60%, var(--color-chryslerblue));
}

.navbar {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding: 1rem 2rem 1rem 0;
}

.navbar ul{

    display: flex;
    flex-direction: row;
    gap:    3em;
    align-items: center;
}

.navbar li{
   display: flex;
}

.headersection{
    display: flex;
    flex-direction: column;
    padding: 5rem 0 10rem 0;
    gap: 2em;
    align-items: center;
    position: relative;

}
header h1, p, a{
    color: var(--color-magnolia);
}


#header-button:link, #header-button:visited {
    background-color: var(--color-frenchrose);
    color: white;
    height: 3em;
    padding: 14px 35px;
    border-radius: 2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-shadow: 1px 3px 20px var(--color-chryslerblue);
    font-variant-caps: all-small-caps;
}

#header-button:hover, #header-button:active {
    background-color: var(--color-frenchrose);
}



.header-squiggle {
    position: absolute;
    bottom: 0;
    left: auto;
}

header img{
    width: 50px;
}

/* --------------- 4.2 Introduction ------------------- */

.introduction {
    display: flex;
    color: var(--color-chryslerblue);
    gap: 2em;
    padding: 3em 0;
}
.introduction a{
    color: var(--color-chryslerblue);
}
.introduction p{
    color: var(--color-night);
}
.introduction-question{
    text-align: center;
}

/* --------------- 4.3 Case Studies ------------------- */

.work-examples {
    display: flex;
    background-color: var(--color-lightgray);
    gap: 4em;
    padding: 4em 3em 7em 3em;
}

.work-examples p{
    color: var(--color-night);
}

.work-examples a{
    color: var(--color-chryslerblue);
}

.case-studies {
    display: flex;
    justify-content: space-between;
}

.case-studies-text-wrapper {
    display: flex;
    flex-basis: 600px;
}

.case-studies-img {
    display: flex;
    flex-basis: 800px;
    align-items: center;
    justify-content: center;
}

.case-studies-img img{
    width: 100%;
    box-shadow: 0 10px 15px var(--color-normalgray);
}

.rolling-stone-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    gap: 1.5em;
    align-items: flex-start;
    padding-right: 10em;
}

.variety-studies-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    gap: 1.5em;
    align-items: flex-start;
    padding-left: 10em;
}

.worth-studies-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    gap: 1.5em;
    align-items: flex-start;
    padding-right: 10em;
}

/* --------------- 4.4 Services ------------------- */
.work-example-wrapper{
    display: flex;
    gap: 2em;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 5rem 0;
}

.work-example-article{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 300px;
    width: 300px;
    row-gap: 1em;
    padding: 1.5em;
    border: var(--color-chryslerblue) solid 1px;
    box-shadow: 0 10px 15px var(--color-normalgray);
}

.work-example-article img {
    max-width: 50px;
}

.work-example-article h3 {
    color: var(--color-chryslerblue);
}

.work-example-article p {
    color: var(--color-normalgray);
    font-size: 0.8em;
}

/* --------------- 4.5 Footer ------------------- */
.form-container{
    background-image: linear-gradient(135deg, var(--color-majorelleblue) 60%, var(--color-chryslerblue));
    width: 100%;
    padding: 3em;
}
/* --------------- 4.51 Form -------------------- */
.form-container fieldset {
    border: none;
}






/* --------------- 4.52 Bottom Footer ------------------- */
.copyright-container {
    background-color: var(--color-night);
    color: var(--color-magnolia);
    font-size: 0.8em;
    width: 100%;
    text-align: center;
    padding: 1.5rem 0;
}

/* ------------------------------- 5. Media Queries -------------------------------- */
