@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*////////////////////////
    Table of Contents
    1. Global styles
    2. Typography
    3. Layout
        3.1 Re-usable
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global styles -------------------------------- */

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-chryslerblue:   #5722CD;
    --color-majorelleblue:  #4B49E8;
    --color-frenchrose:     #ED4385;
    --color-night:          #0C0C0C; /* normal text */
    --color-magnolia:       #F2F0FF; /* floating words */
    --color-lightgray:      #F3F6F9; /* background projects */
    --color-normalgray:     #7A7A7A; /* service tile's */
}

/* ------------------------------- 2. Typography ----------------------------------- */


h1, h2, h3, h4, h5, h6 {
    font-family: 'merriweather', serif;
    color: var(--color-night);
}

p {
   font-family: 'roboto', sans-serif;
    color: var(--color-night);
}



/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Re-usable ----------------------- */

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */

header{
    display: flex;
    flex-direction: column;
    background-color: var(--color-majorelleblue);
}

.navbar ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: #0C0C0C dashed 2px;
}

.navbar li{
    display: flex;
    border: green dashed 2px;
}

.headersection{
    display: flex;
    flex-direction: column;
    border: pink dashed 2px;
}

#letswork-button {
    display: flex;
    background-color: var(--color-frenchrose);

}

/* --------------- 4.2 Introduction ------------------- */

/* ------------------------------- 5. Media Queries -------------------------------- */
